.history-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin: 15px;
}

.history-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: 0.3s ease;
}

.history-item:hover {
    transform: scale(1.1);
    background-color: var(--background-light);
}

.history-item img {
  width: 60px;
  height: 60px;
}

.history-text {
  font-size: 14px;
  opacity: 0.8;
}
