#titlebar {
  width: 100%;
  height: 32px;
  display: flex;
  background-color: hsl(0 0 13%);
  top: 0;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag;

    .title {
        color: var(--text);
        font-size: 1rem;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .icon{
            height: 20px;
            margin-right: 8px;
            .title-icon{
                width: 20px;
                height: 20px;
                background-color: white;
                border-radius: 5px;
            }
        }
    }

    .window-controls {
        display: flex;
        -webkit-app-region: no-drag;
    }

    .window-controls button {
        width: 46px;
        height: 32px;
        border: none;
        background-color: hsl(0 0 13%);
        color: var(--text-muted);
        font-size: 14px;
        cursor: pointer;
    }

    .window-controls button:hover {
        background: var(--background-light);
    }
}