:root{
  --background-dark: hsl(0, 0%, 5%);
  --background: hsl(0 0% 10%);
  --background-light: hsl(0 0% 15%);
  --background-very-light: hsl(0 0% 20%);
  --text-muted: hsl(0 0% 70%);
  --text: hsl(0 0% 90%);
  --border-dark: hsl(0 0% 15%);
  --border: hsl(0 0% 20%);
  --border-light: hsl(0 0% 25%);
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow-y: hidden;
  gap: 15px;
  min-height: 100vh;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
}

button{
  padding: 10px 20px;
  border: none;
  background-color: var(--background-light);
  color: var(--text);
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s ease;
}

button:hover {
  background-color: var(--background-very-light);
}

#content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}