.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;

  button{
    flex: 1 1 auto;
  }
}

.tab-content {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.tab-content.active {
  display: flex;
}